body {
    background-color: #F6F7F9;
    color: #464C50;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 6vmin;
    color: #464C50;
    text-align: center;
    vertical-align: middle;
    line-height: 12vh;
}

h2 {
    font-weight: 700;
    font-size: 2.5vmin;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-size: 2vmin;
}

#aboutme {
    line-height: 1.8;
}

li {
    font-weight: 300;
    list-style-type: none;
    font-size: 2vmin;
}

a {
    text-decoration: none;
    color: #464C50;
}

#homepage-return {
    margin: 0 0 0 2vw;
    font-size: 6vmin;
    font-weight: 700;
    text-align: center;
    line-height: 1
}

a#homepage-return:hover{
    color: #343a40;
}

#homepage-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover
}

.content {
    display:grid;
    height: 100vh;
}

.top-ornament > h1 {
    width: 22vw;
    min-width: 36vmin;
    height: 12vh;

    background: #C6B0A2;
    border: none;
    border-radius: 0px 112px 112px 0px;

    text-align: center;
}

.bottom-ornament > button {
    width: 8vw;
    min-width: 14vmin;
    height: 12vh;

    background: #7DBCCE;
    border: none;
    border-radius: 112px 0px 0px 112px;

    text-align: center;
}

.skills {
    font-weight: 300;
    font-size: 2vmin;
}

.icon-socials {
    font-size: 25px;
}

#main > .row {
    min-height: 100vh;
}